<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8">
            <div class="layui-row layui-col-space15">
                
            </div>
        </div>

        

        

        
        
    </div>
</div>

<style>
    .loading-more { overflow: hidden; }
        .loading-more > div { display: inline-block; }
        .loading-more a { float: right; font-size: 12px; margin-top: 5px; }
    .layui-card-header .layui-icon { position: initial; margin-right: 10px; }
</style>