<script type="text/html" template lay-done="layui.data.done(d);">
    <div class="layui-form coreshop-form layui-form-pane" lay-filter="LAY-app-Good-createForm" id="LAY-app-Good-createForm">
        <div class="layui-form-item">
            <label for="brandId" class="layui-form-label">商家</label>
            <div class="layui-input-block" id="brandIdView">
                <select name="businessId" id="businessId">
                    <option value="0">请选择</option>
                    {{# layui.each(d.params.data.busi, function(index, item){ }}
                    <option value="{{ item.id }}">{{ item.businessName }}</option>
                    {{# }); }}
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label for="name" class="layui-form-label">商品名称</label>
            <div class="layui-input-block">
                <input name="goodName" id="goodName" lay-verType="tips" lay-verify="required|verifyname" class="layui-input" lay-reqText="请输入商品名称" placeholder="请输入商品名称" />
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" for="avatarImage">商品图片：</label>
                <div class="layui-input-inline layui-inline-6">
                    <input name="url" id="url" size="15" autocomplete="off" class="layui-input" lay-reqText="请输入【缩略图】" />
                </div>
                <div class="layui-input-inline">
                    <div class="layui-upload">
                        <button type="button" class="layui-btn" id="upBtn">上传图片</button>
                        <div class="layui-upload-list">
                            <img class="layui-upload-img" id="viewImgBox" src="{{ layui.setter.noImagePicUrl }}">
                            <p id="viewTextBox"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">价格</label>
            <div class="layui-input-block">
                <input name="unitPrice" id="unitPrice" lay-verType="tips" lay-verify="required|number" class="layui-input" lay-reqText="请输入价格" placeholder="请输入价格" />
            </div>
        </div>
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">库存</label>
            <div class="layui-input-block">
                <input name="stock" id="stock" lay-verType="tips" lay-verify="required|number" class="layui-input" lay-reqText="请输入库存" placeholder="请输入库存" />
            </div>
        </div>
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">订购数量</label>
            <div class="layui-input-block">
                <input name="purchaseNumber" id="purchaseNumber" lay-verType="tips" lay-verify="required|number" class="layui-input" lay-reqText="请输入订购数量" placeholder="请输入订购数量" />
            </div>
        </div>
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">有效时间</label>
            <div class="layui-input-block">
                <input name="avilableTime" id="avilableTime" lay-verType="tips" class="layui-input" lay-reqText="请输入订购数量" placeholder="请输入订购数量" />
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">状态:</label>
            <div class="layui-input-block">
                <select name="status" lay-verType="tips" lay-verify="required" required>
                    <option value="">请选择</option>
                    {{# layui.each(d.params.data.dictData2, function(index, item){ }}
                    <option value="{{item.dictDataCode}}">{{item.dictDataName}}</option>
                    {{# }); }}
                </select>
            </div>
        </div>

        <div class="layui-form-item text-right core-hidden">
            <input type="button" class="layui-btn" lay-submit lay-filter="LAY-app-Good-createForm-submit" id="LAY-app-Good-createForm-submit" value="确认添加">
        </div>
    </div>
</script>



<script>
    var debug = layui.setter.debug;
    layui.data.done = function (d) {
        //开启调试情况下获取接口赋值数据
        if (debug) { console.log(d); }
        layui.use(['admin', 'form', 'laydate', 'upload', 'coreHelper', 'cropperImg'],
            function () {
                var $ = layui.$
                    , form = layui.form
                    , admin = layui.admin
                    , laydate = layui.laydate
                    , upload = layui.upload
                    , cropperImg = layui.cropperImg
                    , coreHelper = layui.coreHelper;

                form.verify({
                    verifyname: [/^[\S]{0,32}$/, '分类名称最大只允许输入32位字符，且不能出现空格'],
                });
                //封面图图片上传
                $('#upBtn').click(function () {
                    cropperImg.cropImg({
                        aspectRatio: 1 / 1,
                        imgSrc: $('#viewImgBox').attr('src'),
                        onCrop: function (data) {
                            var loadIndex = layer.load(2);
                            coreHelper.Post("api/Tools/UploadFilesFByBase64", { base64: data }, function (res) {
                                if (0 === res.code) {
                                    $('#viewImgBox').attr('src', res.data.fileUrl);
                                    $("#url").val(res.data.fileUrl);
                                    layer.msg(res.msg);
                                    layer.close(loadIndex);
                                } else {
                                    layer.close(loadIndex);
                                    layer.msg(res.msg, { icon: 2, anim: 6 });
                                }
                            });
                        }
                    });
                });

                laydate.render({
                    elem: '#avilableTime',
                });
                //重载form
                form.render(null, 'LAY-app-Good-createForm');
            })
    };
</script>